body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #fafafa;
    color: white;
    background-image: url(assets/images/background.jpg);
}

nav {
    background: #336600 ;
    padding: 10px 10px;
    display: flex;
    gap: 50px;
    justify-content: left;
    width: 100%;
}

nav a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

nav a.active,
nav a:hover {
    color: #fff;
}

.logo {
  width: 40px;    
  height: 30px; 
  padding: 2px;
  border-radius: 60%;
  display: inline-block;
  
}


#map {
    height: 70vh;
    width: 100%;
    border-top: 2px solid #ddd;
}

#map-text {
  position: absolute;
  top: 70px;      
  right: 20px;
  z-index: 1000;  
  background: rgba(255, 255, 255, 0.8);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 1rem;
  color: #cc3300
  

  
  
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}


header {
  
  color: #cc3300
;
  display: flex;
  justify-content: center;
  align-items: center;
  
  top: 5;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
        135deg,
        rgba(179, 0, 0, 0.8),
        rgba(77, 0, 0, 0.5)
    );
    color: white;
    padding: 7px;
   font-family: Garamond, serif; 

}

header nav {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

/*Market Container Styles*/

.market-container {
  max-width: 1000px;
  margin: 10px auto 5px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  background-color: #ff9999;
}
.market-header {
    background-color: #d42426; /* Festive Red */
    color: white;
    padding: 20px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #333;
}
tr:hover {
    background-color: #30b121;
}
.status-closed {
    color: #d9534f;
    font-weight: bold;
}
.note {
    font-size: 0.85em;
    color: #171717;
    margin-top: 4px;
    display: block;
}

/* Footer Styles */
footer {
  background: #336600;
  color: #ccc;
  text-align: center;
  padding: 7px;
  margin-top: 10px;
}

