

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: white;
}

nav {
    background: #336600 ;
    padding: 20px 30px;
    display: flex;
    gap: 50px;
}

nav a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

nav a.active,
nav a:hover {
    color: #fff;
}


#map {
    height: 70vh;
    width: 100%;
    border-top: 2px solid #ddd;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
header {
   
  color: white
;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1000;
  display: inline-block;
  background-color: #b30000;
  border-radius: 2px;

}

header {
  
  color: #cc3300
;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
        135deg,
        rgba(179, 0, 0, 0.8),
        rgba(77, 0, 0, 0.5)
    );
    color: white;
    padding: 7px;
   font-family: Garamond, serif; 

}

header nav {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

footer {
  background: #336600;
  color: #ccc;
  text-align: center;
  padding: 7px;
  margin-top: 10px;
}

